.navbar-container{
    display: flex;
    flex-direction: row;
    padding: 1rem 1.5rem;
    background-color: rgb(247, 74, 96);
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar-text{
    color:white;
    margin: 0 10px;
}
/*
.navbar-login {
    color:white;
}
.navbar-user{
    color: rgb(0, 154, 165);
}
.navbar-logout {
    color:rgb(156, 156, 156);
    padding:0.35rem;
} */

.navbar-center{
    background-color: white;
    width: 50%;
    height: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    color: black;
    padding: 0px 10px 0px 10px;
    
}
.navbar-center-left{
    width: 10%;
}
.navbar-center-right{
    margin: 0;
    width: 95%;
}

.navbar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.btn-logout{
    border: none;
    background-color: rgb(247, 74, 96);
    margin: 0 20px;
    padding: 0;

}
.avatar{
    width: 40px;
    height: 40px;
    margin: 0 20px;
    border-radius: 50px;
}


